@import "../../../assets/fonts/fonts.css";

#mid-backdrop {
background: white;
width: 100%;
}


#mid-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#mid-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 75%;
  margin-bottom: 1rem;
}
