@use "../../../styles/variables" as *;
@import "../../../assets/fonts/fonts.css";

#header-bar-link {
  display: flex;
  list-style: none;
  padding: 0 10px;
    font-family: "Abordage", sans-serif;
        a {
      color: #b242ff;
       text-decoration: none;
    }
  &:hover {
    a {
      color: #6100a4;
    }
  }
}

#header-bar-link-active {
  @extend #header-bar-link;
  a {
    font-weight: bold; 
}
  }
