---
import "./HeaderBarButtonStyles.scss";

const { title } = Astro.props;
const { active } = Astro.props;
---

<li id={active ? "header-bar-link-active" : "header-bar-link"}>
  <a href={`#${title}`}>{title}</a>
</li>
