@use "../../../styles/variables" as *;
@import "../../../assets/fonts/fonts.css";

#header-bar-button {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 120px;
  height: 30px;
  margin-top: 4px;
  margin-right: 50px;
  border-radius: 10px;
  cursor: pointer;
  background-color: #cd81ff4d;
  font-family: "Abordage", sans-serif;
  &:hover {
    background-color: #cc81ff;
    a {
      color: #6100a4;
    }
  }
}

#header-bar-button-active {
@extend #header-bar-button;

  background-color: #cc81ff;
  a {
    color: #6100a4;
    cursor: default;
  }
}

#header-bar-link {
  color: #b242ff;
  text-decoration: none;
  padding: 0 10px;
}
