@font-face {
  font-family: "Abordage";
  src: url(/luthien-labs-frontend/fonts/Abordage-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Dhyana";
  src: url("/luthien-labs-frontend/fonts/Dhyana-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Grotesk";
  src: url("/luthien-labs-frontend/fonts/SpaceGrotesk-VariableFont_wght.ttf")
    format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/luthien-labs-frontend/fonts/InterVariable.ttf") format("truetype");
}

@font-face {
  font-family: "Crimson";
  src: url("/luthien-labs-frontend/fonts/CrimsonPro-VariableFont_wght.ttf")
    format("truetype");
}
