@use "../../../styles/variables" as *;

.content-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: min(1rem, 1vw);
  width: min(600px, 35vw);
  height: min(600px, 35vw);
  max-width: 800px;
  aspect-ratio: 1;
  margin: 0 auto;
  flex-shrink: 0;
}

.grid-item {
  aspect-ratio: 1;
  background-color: white;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  // Hide empty items
  &.grid-item-empty {
    background-color: transparent;
    box-shadow: none;
  }
}

.grid-text {
    padding: 4px;
  text-align: center;
}

.grid-item-text {
  display: flex;
  justify-content: center;
  align-items: center;
  object-fit: cover;
  font-size: clamp(0.7rem, 1.7vw, 2rem);
}

.grid-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

@media (max-width: 875px) {
  .content-grid {
    display: none;
  }
}