
#backdrop {
  --base-color: #b7d3d1;
  --gradient1-start: #5da28e;
  --gradient2-start: #d0dbda;
  --gradient2-end: #ffffff;
  --gradient2-opacity: 0.8;
  --circle1-scale: 1;
  --circle2-scale: 1;

  position: fixed;
  inset: 0;
  z-index: -1;
  pointer-events: none;

  .background-svg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
}

#backgroundLines {
  position: absolute;
  inset: 0;
  object-fit: stretch;
 width: 100%;
}
}

