@use "../../../styles/variables" as *;
@import "../../../assets/fonts/fonts.css";

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
    
}

#title {
  width: $page-width;
  max-width: $page-max-width;
  font-family: "Dhyana", sans-serif;
  color: black;
  font-size: clamp(2em, 5vw, 3em);
  font-weight: lighter;
}
