@import "../../../assets/fonts/fonts.css";

#title-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#title {
  width: 74%;
  font-family: "Dhyana", sans-serif;
  color: black;
  font-size: clamp(2em, 5vw, 3em);
  font-weight: lighter;
}
