---
import "./TitleBarStyles.scss";
---

<div id="title-bar">
  <div id="title-bar-content">
    <p id="title-eyebrow">Point of Entry</p>
    <h1 id="title">Redefining the Horizons of Human Potential</h1>
  </div>
</div>
