@use "../../../styles/variables" as *;
@import "../../../assets/fonts/fonts.css";

#copy-block {
  background-color: white;
  padding: 2rem;
  border-radius: 20px;
  align-self: stretch;
  flex-grow: 1;
}
