---
import luthenLabsLogo from "../../assets/luthenLabsLogo.png";
import "./HeaderBarStyles.scss";
---

<div id="container">
  <div id="headerBar">
    <img
      id="luthenLabsLogo"
      src={luthenLabsLogo.src}
      alt="Luthen Labs Logo"
      fetchpriority="high"
    />
    <div id="headerBarText">
      <h2 id="luthenLabsName">Luthen Labs</h2>
    </div>
    <div id="headerBarLinks">
      <a href="#about">About Us</a>
      <a href="#projects">Our People</a>
      <a href="#blog">Dev Blog</a>
      <a href="#contact">Contact Us</a>
    </div>
  </div>
</div>
