---
import luthenLabsLogo from "../../assets/luthenLabsLogo.png";
import "./HeaderBarStyles.scss";
---

<div id="container">
  <div id="headerBar">
    <img
      id="luthenLabsLogo"
      src={luthenLabsLogo.src}
      alt="Luthen Labs Logo"
      fetchpriority="high"
    />
  </div>
</div>
