@import "../../../assets/fonts/fonts.css";

#top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#top-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: 75%;
  margin-bottom: 4rem;
}
