---
import "./TopSectionStyles.scss";
import {
  CopyBlock,
  GridItemCopy,
  GridItemImage,
  ContentGrid,
} from "src/components/common";
import TitleBar from "../titleBar";
---

<div id="top-section">
  <TitleBar />
  <div id="top-section-content">
    <CopyBlock>
      <p>
        At Luthien Labs, we are at the forefront of pioneering advancements in
        next-generation technological ecosystems.
      </p>
      <p>
        Our multidisciplinary approach leverages cutting-edge paradigms such as
        quantum-driven optimization, neural-synaptic frameworks, and
        bio-convergent systems to redefine the boundaries of possibility.
      </p>
      <p>
        By integrating scalable, adaptive solutions with proprietary algorithmic
        architectures, we are not just solving today’s challenges—we are
        architecting the foundation for tomorrow’s breakthroughs.
      </p>
    </CopyBlock>
    <ContentGrid>
      <GridItemImage>
        <img
          src="/src/assets/images/wavelength-control-adjustment.jpg"
          alt="wavelength control adjustment"
        /></GridItemImage
      >
      <GridItemCopy>
        <p style="font-size: 23px; font-weight:700; ">93% of</p>
        <p style="font-size: smaller;">
          our innovations exceed conventional parameters
        </p>
      </GridItemCopy>
      <div></div>
      <div></div>
      <GridItemCopy>
        <p>Leading in</p>
        <p style="font-size: 23px; font-weight:700; ">12</p>
        <p>undefined metrics</p>
      </GridItemCopy>
      <GridItemImage>
        <img
          src="/src/assets/images/hypoxium-resonance-dynamo.jpg"
          alt="hypoxium resonance dynamo"
        />
      </GridItemImage>
      <GridItemImage>
        <img
          src="/src/assets/images/matt-with-szienoscope.jpg"
          alt="matt with szienoscope"
        /></GridItemImage
      >
      <GridItemCopy>
        <p>Ranked</p>
        <p style="font-size: 23px; font-weight:700; ">#1</p>
        <p>in theoretical excellence</p>
      </GridItemCopy>
      <div></div>
    </ContentGrid>
  </div>
</div>
