---
import "./TopSectionStyles.scss";
import CopyFrame from "src/components/common/copyFrame/CopyFrame.astro";
import TitleBar from "../titleBar/TitleBar.astro";
import ContentGrid from "../../common/contentGrid/ContentGrid.astro";
import { gridConfig1 } from "./gridConfig";
import SectionOne from "src/components/common/copy/section-one.md";
---

<div id="top-section">
  <TitleBar />
  <div id="top-section-content">
    <CopyFrame Content={SectionOne} />
    <ContentGrid items={gridConfig1} />
  </div>
</div>
