---
import "./TopSectionStyles.scss";
import CopyFrame from "src/components/common/copyFrame/CopyFrame.astro";
import TitleBar from "../titleBar/TitleBar.astro";
---

<div id="top-section">
  <TitleBar />
  <div id="top-section-content">
    <CopyFrame />
    <CopyFrame />
  </div>
</div>
