@use "../../../styles/variables" as *;
@import "../../../assets/fonts/fonts.css";

#top-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-bottom: 1rem;
}

#top-section-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 20px;
  width: $page-width;
  max-width: $page-max-width;
  margin-bottom: 1rem;
}
