---
import "./TestimonialStyles.scss";
import neurosyncIcon from "../../../assets/icons/neurosync.svg?url";
import rockwellIcon from "../../../assets/icons/rockwell.svg?url";
---

<div id="testimonial-backdrop">
  <div id="testimonial-section">
    <div id="testimonial-section-content">
      <h2>Trusted by Innovators</h2>
      <div class="testimonial">
        <img src={neurosyncIcon} alt="Neurosync Icon" />
        <p>
          "Luthien Labs has fundamentally redefined our approach to systemic
          engagement. Their methodological frameworks are nothing short of
          revolutionary."
        </p>
        <span
          >— Dr. Elena Rodriguez, Chief Innovations Officer, NeuroSync
          Technologies</span
        >
      </div>
      <div class="testimonial">
        <img src={rockwellIcon} alt="Rockwell Icon" />
        <p>
          "We've never encountered a more robust approach to probabilistic
          potential mapping. Their insights were crucial in the development of
          the Rockwell Retro Encabulator."
        </p>
        <span
          >— Marcus Chen, Director of Emerging Systems, Rockwell Automation</span
        >
      </div>
    </div>
  </div>
</div>
