---
import "./TestimonialStyles.scss";
---

<div id="testimonial-backdrop">
  <div id="testimonial-section">
    <div id="testimonial-section-content">
      <h2>Trusted by Innovators</h2>
      <div class="testimonial">
        <p>
          "Luthien Labs transformed our business with their innovative
          solutions!"
        </p>
        <span>- Happy Client</span>
      </div>
      <div class="testimonial">
        <p>
          "Their team is incredibly professional and dedicated to excellence."
        </p>
        <span>- Satisfied Customer</span>
      </div>
    </div>
  </div>
</div>
