---
import luthienLabsLogo from "../../../assets/luthienLabsLogo.png";
import HeaderBarButton from "../headerBarButton/HeaderBarButton.astro";
import "./HeaderBarStyles.scss";
---

<div id="container">
  <div id="headerBar">
    <img
      id="luthienLabsLogo"
      src={luthienLabsLogo.src}
      alt="Luthen Labs Logo"
      fetchpriority="high"
    />
    <div id="headerBarText">
      <h2 id="luthenLabsName">Luthien Labs</h2>
    </div>
    <div id="headerBarLinks">
      <HeaderBarButton title="Home" active="true" />
      <HeaderBarButton title="Our People" />
      <HeaderBarButton title="Dev Blog" />
      <HeaderBarButton title="Contact Us" />
    </div>
  </div>
</div>
