---
import "./NavBarStyles.scss";
import NavBranding from "../common/navBranding/NavBranding.astro";
---

<script is:inline src="/scripts/navbar.js" type="module"></script>
<div id="navBrandingUnder">
  <NavBranding />
</div>
<div id="container">
  <button
    id="mobileMenuButton"
    aria-expanded="false"
    aria-controls="navBarLinkContainer"></button>
  <div id="navBar" data-visible="false">
    <div id="navBrandingOver">
      <NavBranding />
    </div>

    <nav id="navBarLinkContainer">
      <ul id="navBarLinkList">
        <li id="">
          <a href="/" id="navBarLink">Home</a>
        </li>
        <li>
          <a href="/our-people" id="navBarLink">Our People</a>
        </li>
        <li>
          <a href="/dev-blog" id="navBarLink">Dev Blog</a>
        </li>
        <li>
          <a href="/contact-us" id="navBarLink">Contact Us</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
