@use "../../styles/variables" as *;
@import "../../assets/fonts/fonts.css";

#container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#navBar {
  display: flex;
  align-items: center;
  margin-top: 50px;
  border-radius: 10px;
  background-color: white;
  height: 55px;
  width: 75%;
  box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
}



#luthienLabsLogo {
  margin-left: 5px;
  margin-bottom: 1px;
  height: 41px;
  width: 41px;
}

#luthenLabsName {
  width: 160px;
  font-size: 24px;
  margin-left: 5px;
  margin-bottom: 20px;
  font-family: "Grotesk", sans-serif;
}

#navBarLinkContainer {
  display: flex;
  width: 100%;
  justify-content: end;
}
#navBarLinkList {
  display: flex;
  list-style: none;
  margin: 0;
  justify-content: space-between;
  width: 100%;
  padding: 0 20px;
}
#navBarLink {
text-decoration: none;
}
#navBranding {
  display: flex;
  align-items: center;
  gap: 10px;
}

  #navBrandingUnder{
display: none;
  }

#mobileMenuButton {
  display: none;
}

@media (max-width: 49em) {
  #navBar {
position: fixed;
z-index: 1000;
justify-content: space-between;
flex-direction: column;
align-items: start;
inset: 0 0 0 60%;
padding: min(10vh, 10rem) 2em;
background: hsl(0 0% 100% / 0.6);
backdrop-filter: blur(1rem);
margin: 0;
border-radius: 0;
height: 100vh;

  }
  #navBarLinkList {
    flex-direction: column;
  }
    #navBarLinkContainer {
    flex-direction: column;
  }

  #navBar[data-visible="false"] {
  transform: translateX(100%);
}

  #navBar[data-visible="true"] {
  transform: translateX(0);
}

  #navBar.transitioning {
  transition: transform 0.3s ease-in-out;
}

#mobileMenuButton {
display: block;
position: absolute;
cursor: pointer;
z-index: 9999;
background: url("../../assets/bars-solid-full.svg");
background-repeat: no-repeat;
border: 0;
width: 2rem;
aspect-ratio: 1;
top: 2rem;
right: 2rem;
  }
  #navBranding{
    display: none;
  }
  #navBrandingUnder{
position: absolute;
  display: flex;
  align-items: center;
  gap: 10px;
top: 2.5rem;
left: 12vw;
z-index: 9999;
  }

  #container {
    padding-top: 105px;
  }
} 