---
import background from "../assets/background.svg";
import backgroundLines from "../assets/background-lines.svg";
---

<div>
  <img id="background" src={background.src} alt="" fetchpriority="high" />
  <img
    id="backgroundLines"
    src={backgroundLines.src}
    alt=""
    fetchpriority="high"
  />
</div>
