---
import "./HeaderBarButtonStyles.scss";

const { title } = Astro.props;
const { active } = Astro.props;
---

<div id={active ? "header-bar-button-active" : "header-bar-button"}>
  <div>
    <a id="header-bar-link" href={`#${title}`}>{title}</a>
  </div>
</div>
