#luthienLabsLogo {
  margin-left: 5px;
  margin-bottom: 1px;
  height: 41px;
  width: 41px;
}

#luthenLabsName {
  width: 160px;
  font-size: 24px;
  margin-bottom: 15px;
  font-family: "Abordage", sans-serif;
  font-weight: lighter;
}
#navBranding {
  display: flex;
  align-items: center;
  gap: 10px;
}