---
import luthienLabsLogo from "../../../assets/luthienLabsLogo.png";
import "./NavBrandingStyles.scss";
---

<div id="navBranding">
    <img
        id="luthienLabsLogo"
        src={luthienLabsLogo.src}
        alt="Luthen Labs Logo"
        fetchpriority="high"
    />
    <h2 id="luthenLabsName">Luthien Labs</h2>
</div>
